/* app css stylesheet */

body {
  padding-top: 20px;
}


.item-images {
  background-color: white;
  width: 450px;
  height: 450px;
  overflow: hidden;
  position: relative;
  float: left;
}

.items {
  list-style: none;
}

.items li {
  display: block;
  clear: both;
  height: 28px;
  padding: 2px;
  border:  1px solid #ddd;
  border-radius: 4px;
  margin-bottom: 2px;
  /* line-height:   1.42857143; */
}


.item-handle {
  float: left;
  width: 4em;
  overflow: hidden;
  background-color: #f0f0ff;
  cursor: -webkit-grab;
}

.item-name {
  width: 25em;
  float: left;
}
           

.item-handle2 {
  background-color: #fff0f0;
}

/** Detail View **/
img.item {
  float: left;
  margin-right: 3em;
  margin-bottom: 2em;
  background-color: white;
  padding: 2em;
  height: 400px;
  width: 400px;
  display: none;
}

img.item:first-child {
  display: block;
}


ul.item-thumbs {
  margin: 0;
  list-style: none;
}

ul.item-thumbs li {
  border: 1px solid black;
  display: inline-block;
  margin: 1em;
  background-color: white;
}

ul.item-thumbs img {
  height: 100px;
  width: 100px;
  padding: 1em;
}

ul.item-thumbs img:hover {
  cursor: pointer;
}


ul.specs {
  clear: both;
  margin: 0;
  padding: 0;
  list-style: none;
}

ul.specs > li{
  display: inline-block;
  width: 200px;
  vertical-align: top;
}

ul.specs > li > span{
  font-weight: bold;
  font-size: 1.2em;
}

ul.specs dt {
  font-weight: bold;
}

h1 {
  border-bottom: 1px solid gray;
}
