- unless tround.winner
  .tround[tround]{ :class => "tround_#{tround.rd_idx}" }
    - tround.tmatches.each do |tmatch|
      = render tmatch
- else
  .tround[tround]{ :class => "winner tround_#{tround.rd_idx}" }
    - tround.tmatches.each do |tmatch|
      .tmatch[tmatch]{ :class => 'first last winner' }
        = slot_for_match(tround.tmatches.first, 'a')

  
