- title 'about'

%h1 About brakk.at

.row
  .span12
    .hero-unit
      %p
        Whenever my brothers and I get together, a discussion along the lines of
        'who is the greatest rock band of all time' or 'who would win in a
        fight, John McEnroe with a tennis racket or Mike Tyson in boxing gloves'?

      %p
        Since my brother was stuck on his deployment to Germany over winter
        break 2012, we didn't get to settle one of these. So I built this app to
        let us continue iterating towards ultimate truth even while he's
        overseas.

      %p
        
        brakk.at is free.  If you like it, show your appreciation by donating to
        <a href="http://www.fisherhouse.org/about/">Fisher House</a> &mdash;
        there's a widget at the right.  Fisher House takes care of Military
        families whose loved ones are hospitalized. They're rated five stars by
        <a href="http://www.charitynavigator.org/index.cfm?bay=search.summary&orgid=7585">charity navigator</a>
        (so you can be confident your donation will be used well).
        

  .span2.offset1
    <object id='application' classid='clsid:D27CDB6E-AE6D-11cf-96B8-444553540000'  codebase='http://download.macromedia.com/pub/shockwave/cabs/flash/swflash.cab#version=9,0,0,0' codebase="http://download.macromedia.com/pub/shockwave/cabs/flash/swflash.cab#version=6,0,0,0" data="http://www.networkforgood.org/PCA/Badge.swf?BadgeId=115361" width="160" height="475" id="myCharityBadge"><param name="allowScriptAccess" value="all" /><param name="movie" value="http://www.networkforgood.org/PCA/Badge.swf?BadgeId=115361" /> <embed src="http://www.networkforgood.org/PCA/Badge.swf?BadgeId=115361" quality="high" width="159" height="475" name="myMovie" Align="" vspace="0" hspace="0" type="application/x-shockwave-flash"></embed> </object>    


%hr/    
