- title 'about'

%h1 About brakk.it

.row
  .span12
    .hero-unit
      %p
        Whenever my brothers and I get together, a discussion along the lines of
        'who is the greatest rock band of all time' or 'who would win in a
        fight, John McEnroe with a tennis racket or Mike Tyson in boxing gloves'?

      %p
        Since my brother was stuck on his deployment to Germany over winter
        break 2012, we didn't get to settle one of these. So I built this app to
        let us continue iterating towards ultimate truth even while he's
        overseas.

      %p

        brakk.it is free.  If you like it, show your appreciation by donating to
        <a href="http://www.fisherhouse.org/about/">Fisher House</a> &mdash;
        there's a widget at the right.  Fisher House takes care of Military
        families whose loved ones are hospitalized. They're rated five stars by
        <a href="http://www.charitynavigator.org/index.cfm?bay=search.summary&orgid=7585">charity navigator</a>
        (so you can be confident your donation will be used well).


  .span2.offset1
    <object id='application' classid='clsid:D27CDB6E-AE6D-11cf-96B8-444553540000'  codebase='http://download.macromedia.com/pub/shockwave/cabs/flash/swflash.cab#version=9,0,0,0' codebase="http://download.macromedia.com/pub/shockwave/cabs/flash/swflash.cab#version=6,0,0,0" data="http://www.networkforgood.org/PCA/Badge.swf?BadgeId=115361" width="160" height="475" id="myCharityBadge"><param name="allowScriptAccess" value="all" /><param name="movie" value="http://www.networkforgood.org/PCA/Badge.swf?BadgeId=115361" /> <embed src="http://www.networkforgood.org/PCA/Badge.swf?BadgeId=115361" quality="high" width="159" height="475" name="myMovie" Align="" vspace="0" hspace="0" type="application/x-shockwave-flash"></embed> </object>

%section
  %h2 brakk.it.ology

  .hero-unit
    %ul
      %li What makes a good bracket?
      %li Why can I vote on my own brackets?
      %li What's the difference between a public and a semi-protected bracket?



  %p
    http://odphp.osophs.dhhs.gov/pubs/guidecps/text/ii_met~1.txt
    The hierarchy ranked the following designs in decreasing order of importance: randomized controlled trials, nonrandomized controlled trials, cohort studies, case-control studies, comparisons between time and places, uncontrolled experiments, descriptive studies, and expert opinion

%section
  %h2 Colophon
  .hero-unit

    %p
      brakk.it was built using Emacs, Ruby on Rails, and Love. Those, and the following (partial) list of key plugins make weekend apps like these so much fun:

    %ul
      - def github_colophon(gh, desc=nil) ; gh_user, gh_repo = gh.split('/',2) ; haml_tag(:li){ haml_concat( [link_to(gh_repo, "http://github.com/#{gh_user}/#{gh_repo}"), " by #{gh_user}"].join(" ")) ; if desc then haml_tag(:span, "&mdash; ".html_safe+html_escape(desc)) ; end } end
      %li
        User-facing interactive components are built using jQuery and coffeescript.
        %ul
          <li><a href="http://jquery.com/">jQuery</a> and jQuery-UI are just a constant delight. It is flabbergasting how short the code for the tournament editor is.</li>
          - github_colophon 'jashkenas/coffee-script',          "holy crap javascript can be fun and readable?"
          - github_colophon 'pivotal/jasmine',                  "readable Javascript testing framework"
          - github_colophon 'searls/jasmine-rails',             "and several other jasmine plugins"
          <li><a href="http://www.diveintojavascript.com/projects/javascript-sprintf">javascript printf</a> from the <a href="http://www.diveintojavascript.com/">Dive into Javascript</a> book &mdash; <span>amazingly sprintf is not part of any javascript framework</span></li>
          %li
            Getting iPad-style touch events to work with jQuery was a yak-shaving deathmarch &mdash;
            thanks to <a href="http://bugs.jqueryui.com/ticket/5740">this snippet on the jQuery tracker</a> by woodpile and
            this <a href="http://stackoverflow.com/questions/6745098/jquery-ui-sortable-doesnt-work-on-touch-devices-based-on-android-or-ios">StackOverflow response by Bill Hardy</a>
            for providing components of something workable
      %li
        Styling
        %ul
          - github_colophon 'nex3/sass',                        "means I can write CSS without wanting to drive my car into a box model"
          - github_colophon 'chriseppstein/compass',            "makes sass live up to its potential"
          - github_colophon 'twitter/bootstrap',                "the site would look like utter crap without this solid CSS foundation"
          - github_colophon 'vwall/compass_twitter_bootstrap',  "port of twitter bootstrap to Compass+sass"
          - github_colophon 'dotjay/hashgrid', "what a neat little tool: an overlay grid to help keep your CSS layout in line (literally). You can make the grid appear at a keypress and persist (or not)"
          - <a href="subtlepatterns.com">pretty backgrounds</a> from Atle Mo
      %li
        Authentication and Identity
        %ul
          - github_colophon 'plataformatec/devise',             "flexible pluggable authentication"
          - github_colophon 'intridea/omniauth',                "login with facebook, twitter, etc"
          - github_colophon 'intridea/authbuttons',             "icons for facebook, twitter, etc"
          - github_colophon 'jamesarosen/billfold',             "decouple identity from user model"
      %li
        Utility Rails plugins
        %ul
          - github_colophon 'norman/friendly_id'
          - github_colophon 'guard/guard', "and its many plugins"
          - github_colophon 'mockko/livereload', "pure win: refreshes browser while you edit"
      %li
        Infrastructure
        %ul
          %li Deployed to <a href="http://heroku.com">Heroku</a>
          %li maintained on <a href="http://github.com/mrflip">GitHub</a>

%hr/


