<%- centered_layout %>
<%- skip_sidebar  %>

  <h2>Brak You</h2>

  <div id="tournament_1" class="tournament">

    <div id="pools_1" class="pools">
      <ol id="ranked_1"    class="pool ranked">
        <li id="slot_1_1"  class="slot"><span class="seed">1</span><span class="contestant">&nbsp;</span></li>
        <li id="slot_1_2"  class="slot"><span class="seed">2</span><span class="contestant">&nbsp;</span></li>
        <li id="slot_1_3"  class="slot"><span class="seed">3</span><span class="contestant">&nbsp;</span></li>
        <li id="slot_1_4"  class="slot"><span class="seed">4</span><span class="contestant">&nbsp;</span></li>
        <li id="slot_1_5"  class="slot"><span class="seed">5</span><span class="contestant">&nbsp;</span></li>
        <li id="slot_1_6"  class="slot"><span class="seed">6</span><span class="contestant">&nbsp;</span></li>
        <li id="slot_1_7"  class="slot"><span class="seed">7</span><span class="contestant">&nbsp;</span></li>
        <li id="slot_1_8"  class="slot"><span class="seed">8</span><span class="contestant">&nbsp;</span></li>
      </ol>

      <ul id="bubble_1"    class="pool bubble">
        <li id="slot_1_9"  class="slot"><span class="seed" >9</span></li>
      </ul>
    </div>

    <div id="wing_1_1" class="wing">

      <div id="tround_1_1_1" class="tround tround_1">
        <div   id="tmatch_1_1_1_1"  class="tmatch first">
          <div id="tmslot_1_1_1_1"  class="slot part_a"><span class="seed">1</span><span class="contestant">&nbsp;</span></div>
          <div id="tmslot_1_1_1_8"  class="slot part_b"><span class="seed">8</span><span class="contestant">&nbsp;</span></div>
        </div>                                                                                              
        <div   id="tmatch_1_1_1_2"  class="tmatch">                                                         
          <div id="tmslot_1_1_1_4"  class="slot part_a"><span class="seed">4</span><span class="contestant">&nbsp;</span></div>
          <div id="tmslot_1_1_1_5"  class="slot part_b"><span class="seed">5</span><span class="contestant">&nbsp;</span></div>
        </div>
        <div   id="tmatch_1_1_1_3"  class="tmatch">
          <div id="tmslot_1_1_1_2"  class="slot part_a"><span class="seed">2</span><span class="contestant">&nbsp;</span></div>
          <div id="tmslot_1_1_1_7"  class="slot part_b"><span class="seed">7</span><span class="contestant">&nbsp;</span></div>
        </div>
        <div   id="tmatch_1_1_1_4"  class="tmatch last">
          <div id="tmslot_1_1_1_3"  class="slot part_a"><span class="seed">3</span><span class="contestant">&nbsp;</span></div>
          <div id="tmslot_1_1_1_6"  class="slot part_b"><span class="seed">6</span><span class="contestant">&nbsp;</span></div>
        </div>
      </div>

      <div id="tround_1_1_2" class="tround tround_2">
        <div   id="tmatch_1_1_2_1"  class="tmatch first">
          <div id="tmresult_1_1_2_1"  class="result part_a"><span class="contestant">w1_st8:  sd01</span></div>
          <div id="tmresult_1_1_2_8"  class="result part_b"><span class="contestant">w1_st8:  sd08</span></div>
        </div>
        <div   id="tmatch_1_1_2_2"  class="tmatch last">
          <div id="tmresult_1_1_2_4"  class="result part_a"><span class="contestant">w1_st8:  sd04</span></div>
          <div id="tmresult_1_1_2_5"  class="result part_b"><span class="contestant">w1_st8:  sd05</span></div>
        </div>
      </div>

      <div id="tround_1_1_3" class="tround tround_3">
        <div   id="tmatch_1_1_3_1"  class="tmatch first last">
          <div id="tmresult_1_1_3_1"  class="result part_a"><span class="contestant">w1_st4:  sd01</span></div>
          <div id="tmresult_1_1_3_4"  class="result part_b"><span class="contestant">w1_st4:  sd04</span></div>
        </div>
      </div>

      <div id="tround_1_1_4" class="tround tround_4">
        <div   id="tmatch_1_1_4_1"    class="tmatch first last winner">
          <div id="tmresult_1_1_4_4"  class="result part_a winner"><span class="contestant">w1_st1:  sd01</span></div>
        </div>
      </div>


      <div class="bubble">
        <div id="tmslot_1_1_1_9"  class="slot"></div>
        <div id="tmslot_1_1_1_10" class="slot"></div>
        <div id="tmslot_1_1_1_11" class="slot"></div>
        <div id="tmslot_1_1_1_12" class="slot"></div>
        <div id="tmslot_1_1_1_13" class="slot"></div>
        <div id="tmslot_1_1_1_14" class="slot"></div>
        <div id="tmslot_1_1_1_15" class="slot"></div>
        <div id="tmslot_1_1_1_16" class="slot"></div>
        <div id="tmslot_1_1_1_17" class="slot"></div>
        <div id="tmslot_1_1_1_18" class="slot"></div>
        <div id="tmslot_1_1_1_19" class="slot"></div>
        <div id="tmslot_1_1_1_20" class="slot"></div>
        <div id="tmslot_1_1_1_21" class="slot"></div>
        <div id="tmslot_1_1_1_22" class="slot"></div>
        <div id="tmslot_1_1_1_23" class="slot"></div>
        <div id="tmslot_1_1_1_24" class="slot"></div>
      </div>
    </div>

  </div>

  <!-- <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js" type="text/javascript"></script> -->
  <!-- <script src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.17/jquery-ui.min.js" type="text/javascript"></script> -->
  <!-- <script> -->
  <!--   //<![CDATA[ -->
  <!--       !window.jQuery && document.write(unescape('%3Cscript src="/assets/jquery.min.js"%3E%3C/script%3E')) -->
  <!--       !window.jQuery && document.write(unescape('%3Cscript src="/assets/jquery-ui.min.js"%3E%3C/script%3E')) -->
  <!--     //]]> -->
  <!-- </script> -->
  <!-- <script type="text/javascript"   src="vendor/jquery-touch-events.js"></script> -->
  <!-- <script type="text/javascript"   src="vendor/hashgrid.js"></script> -->
  <!-- <script type="text/javascript"   src="vendor/coffee-script.js"></script> -->

  <!-- <\!-- source files -\-> -->
  <!-- <script type="text/coffeescript" src="vendor/underscore.coffee"></script> -->
  <!-- <script type="text/javascript"   src="vendor/sprintf.js"></script> -->
  <!-- <script type="text/coffeescript" src="lib/helpers.coffee"></script> -->
  <!-- <script type="text/coffeescript" src="lib/brak_you.coffee"></script> -->
