.hero-unit
  %h1 Hello, world!
  %p This is your app. There are many like it but this one is yours.

.hero-unit
  %p Here are your app config settings
  %pre
    = Settings
    
.row
  .span8
    %h2 Simple Demo
    %p <a class='btn' href='/admin/demo'>Very simple demo of layouty things</a>
  .span8
    %h2 Bootstrap system Docs
    %p <a class='btn' href='/admin/bootstrap_demo'>Reference guide</a>


%hr/
