
body
  padding-top:                  60px

.container-fluid.skip-sidebar .content
  margin-left:                  0

.content
  min-height:                   1600px
    
footer
  margin-top:                   3em

.form_input
  label
    text-transform:             lowercase
 
.actions
  .secondary-action
    > *
      &:nth-of-type(n+2)
        &:before
          content:              ' · '
