.wing[wing]
  = render(wing.trounds)

  
  
  .bubble
    <div id="tmslot_1_1_1_17" class="slot"></div>
    <div id="tmslot_1_1_1_18" class="slot"></div>
    <div id="tmslot_1_1_1_19" class="slot"></div>
    <div id="tmslot_1_1_1_20" class="slot"></div>
    <div id="tmslot_1_1_1_21" class="slot"></div>
    <div id="tmslot_1_1_1_22" class="slot"></div>
    <div id="tmslot_1_1_1_23" class="slot"></div>
    <div id="tmslot_1_1_1_24" class="slot"></div>
    <div id="tmslot_1_1_1_25" class="slot"></div>
    <div id="tmslot_1_1_1_26" class="slot"></div>
    <div id="tmslot_1_1_1_27" class="slot"></div>
    <div id="tmslot_1_1_1_28" class="slot"></div>
    <div id="tmslot_1_1_1_29" class="slot"></div>
    <div id="tmslot_1_1_1_30" class="slot"></div>
    <div id="tmslot_1_1_1_31" class="slot"></div>
    <div id="tmslot_1_1_1_32" class="slot"></div>

