%header#topbar.topbar
  .topbar-inner
    .container-fluid
      <a class='brand' href='#'>Project name</a>
      %ul.nav
        %li.active  <a href='#'>Home</a>
        %li         <a href='#about'>About</a>
        %li         <a href='#contact'>Contact</a>
      %p.pull-right Logged in as <a href='#'>username</a>

